body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Esconde la barra de abajo */
}

/* Barra lateral */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #6c7b8b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #030340;
}
/* Fin barra lateral */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: black;
	color: white;
	padding: 20px;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2em;
}

.bebas {
	font-family: 'Bebas Neue';
}

.nunito {
	font-family: 'Nunito';
}

.logo {
	width: 50px;
	height: auto;
}

header a {
	color: inherit;
	padding: 0;
	text-decoration: none;
	transition: 0.3s
}

header a:hover {
	color: #5386E4;
}

#logo-izquierda {
	margin-left: 0px;
}

#logo-derecha {
	margin-right: 40px;
}

.inline {
	margin: 0 10px;
	display: inline-block;
	padding: 0;
}

.centrado {
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
	transition: 0.3s
}

a:hover {
	color: #5386E4;
}

#productos {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 20px;
	background-image: url(fondo-home.webp);
}

.producto {
	width: 30%;
	max-width: 300px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-align: center;
	transition: transform 0.3s;
	background-color: white;
}

.producto:hover {
	transform: scale(1.05);
}

.imagen-producto {
	width: 100%;
	height: auto;
	max-height: 200px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.nombre-producto {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.5em;
	margin: 10px 0;
}

.descripcion-producto {
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	padding: 0 10px 10px 10px;
}

footer {
	background-color: black;
	padding: 10px;
	color: white;
}

footer a {
	font-size: 2em;
	color: white;
	text-decoration: none;
	transition: 0.3s
}

footer a:hover {
	color: #5386E4;
}